.containerList
	display: grid
	justify-content: center
	grid-template-columns: 30% 30% 30%
	gap: 1rem

$color-white: rgb(255,255,255)

.containerTable
	display: flex
	justify-content: center

	table
		background-color: $color-white
		border-radius: 0.2rem
		padding: 2rem 3rem
		width: 82vw
		margin-top: 1rem

		thead
			height: 6vh

			th
				text-align: start
				font-weight: 500
				word-wrap: break-word
				overflow-wrap: break-word

			.icons
				text-align: center
				width: 5rem

		tbody

			td
				word-wrap: break-word
				overflow-wrap: break-word
			
			.icons
				display: flex
				flex-direction: row-reverse
				justify-content: space-between
				height: 10vh
				width: 5rem

				button
					background-color: transparent
					border: none
					cursor: pointer

					.trash, .userPen
						transition: all .5s

					.trash
						color: rgb(218, 0, 0)

					.userPen
						color: rgb(167, 167, 167)

					.trash:hover, .userPen:hover
						color: rgb(222, 222, 222)